@tailwind base;
@tailwind components;
@tailwind utilities;

.link-style {
    color: blue;
    /* Set the color you want for links */
    text-decoration: underline;
    /* Underline the text to mimic link appearance */
    cursor: pointer;
    /* Change the cursor on hover to indicate interactivity */
}

.link-style:hover {
    color: darkblue;
    /* Change the color on hover for visual feedback */
}

.Auth-form-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 5vh;
    margin-left: 50vh;
    margin-right: 50vh;
    padding: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
    border: 1px solid #e2e8f0;

}