@tailwind base;
@tailwind components;
@tailwind utilities;

.link-style {
    color: blue;
    /* Set the color you want for links */
    text-decoration: underline;
    /* Underline the text to mimic link appearance */
    cursor: pointer;
    /* Change the cursor on hover to indicate interactivity */
}

.link-style:hover {
    color: darkblue;
    /* Change the color on hover for visual feedback */
}

.Auth-form-container {
    padding: 5vh;
    border: 1px solid #e2e8f0;
}

@media (min-width: 768px) {

    /* for lg screens and above */
    .Auth-form-container {
        margin-left: 50vh;
        margin-right: 50vh;
        margin-top: 5vh;
    }
}

@media (max-width: 767px) {

    /* for sm screens and below */
    .Auth-form-container {
        margin: 5vh;
        padding: 2vh;
    }
}


.MuiIconButton-root.Mui-selected {
    background-color: #fff !important;
    color: #007bff !important;
}